/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.block__product {
	width: 349px;
	height: 238px;
	text-align: center;
	margin: 0 auto 231px;

	.title {
		font-family: $font-poppins;
		font-size: 32px;
		font-weight: 700;
		line-height: 40px;
		letter-spacing: 0em;
		text-align: center;
		margin-bottom: 17px;
		background: -webkit-linear-gradient(71.74deg, #878787 0%, #FEFEFE 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.subtitle {
		display: inline-block;
		font-family: $font-poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: center;
		margin-bottom: 15px;

		background: -webkit-linear-gradient(71.74deg, #878787 0%, #FEFEFE 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

	}

	.block__rating {
		width: 199px;
		height: 72px;
		padding: 10px 9px 4px 9px;
		border-radius: 16px;
		border: 1px solid #fff;
		background: $rating-bg;
		margin: 0 auto 16px;

		.block__top {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			margin-bottom: 7px;

			.block__stars {
				width: 106px;
				height: 17px;
				margin-right: 9px;

				img {
					width: 100%;
					height: auto;
				}
			}

			.reting-num {
				font-family: $font-poppins;
				font-size: 16px;
				font-weight: 400;
				line-height: 19px;
				color: $blac;
			}
		}

		.block__bottom {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			width: 151.7px;
			height: 32px;
			padding: 4px 0px 4px 0px;
			margin-left: 14px;

			.text {
				display: inline-block;
				font-family: $font-poppins;
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0em;
				color: $blac;
				margin-right: 9px;
			}

			.img__bottom {
				width: 21px;
				height: 21px;
				margin-top: 1px;

				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}


	.block__price {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 208px;
		height: 54px;
		margin: 0 auto;

		.num-1 {
			font-family: $font-poppins;
			font-size: 43px;
			font-weight: 700;
			line-height: 54px;
			color: $price-color;
			margin-right: 27px;
		}

		.num-2 {
			font-family: $font-poppins;
			font-size: 27px;
			font-weight: 500;
			line-height: 41px;
			text-align: center;
			color: $price-color;
			position: relative;

			&::after {
				content: "";
				width: 68px;
				height: 7px;
				background: url(./../img/svg/zoro.svg) no-repeat;
				background-size: contain;
				position: absolute;
				top: 19px;
				left: 6px;
			}
		}
	}

}